<div class='main'>
   
    <% topArtist.forEach((song) => { %>
    <ol>
        <li>Rank: <%-song.rank%></li>
        <li>Artist: <%-song.artist%></li>
        <li>Title: <%-song.title%></li>
        <li>Streams: <%-song.streams%></li>
        <li> Publication Date: <%-song.publicationDate%></li>
    </ol>
   <% })%>
    
</div>